.text{
padding: 20px;
margin: 20px;
background-color: #cfcfcf;
text-align: center;
}
.border{
background-color: white;
}
h1{
    color: #337ab7;
}
h2{
    color: green;
}
.list , .quote{
    text-align: left;
}
